.logged-in-div.users{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1vh;
  
}
.users-div{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    animation-name: slide;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.users-div .slot{
    height: 10%;
    width: 100%;
    background-color: var(--white);
    box-shadow: 2px 3px 4px var(--white-shadow);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    justify-content: flex-start;
    align-content: center;
    justify-items: flex-start;
    align-items: center;
    padding: clamp(0.5rem, 2vw, 2rem);
    transition: all 0.2s cubic-bezier(0.2, 0.8, 0.2, 1);
    border: 1px solid var(--gray-shadow);
    border-radius: 5px;
}

.users-div .slot p{
    font-family: var(--body-font);
    color: var(--black);
    text-shadow: 2px 3px 3px var(--white-shadow);
    font-size: clamp(0.5rem, 1.1vw, 1rem);
    max-width: 130px;
    white-space: wrap;
}
.logged-in-div.users h2{
    font-family: var(--heading-font);
    font-size: clamp(1.2rem, 1.7vw, 1.7rem);
    color: var(--black);
    text-align: center;
    text-shadow: 2px 3px 4px var(--white-shadow);
    margin-bottom: 1vh;
}
.slot:hover{
    border-radius: 0px 150px 0px 0px;
}
.users-div .slot .ban-btn{
    height: 85%;
    width:35%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s cubic-bezier(0.2, 0.8, 0.2, 1);
    background-color: var(--teal);
    border-radius: 5px;
    box-shadow: 2px 3px 3px var(--white-shadow);
}
.users-div .slot .ban-btn:hover{
    transform: scale(1.1);
    background-color: var(--navy);
}

.users-div .slot .ban-btn svg{
    height: 70%;
    width: 60%;
    fill: var(--white);
}